* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
}

#container{
    width: 80%;
    margin: 10vh auto 0 auto;
    background-color: cadetblue;
    padding: 1vh 1vw 2vh 1vw;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 1.5vw;
    text-align: center;
}

#game{
    width: 50%;
    margin: 1vh auto 1vh auto;
    padding-top: 2vh;
    position: relative;
}

#try{
    margin: 2vh 1vw 2vh 1vw;
    font-size: 2vw;
}

#retour, #info{
    width: 50%;
    margin: 1vh auto 1vh auto;
    padding: 1vh 2vw 1vh 2vw;
    height: 8vh;
    background-color: white;
    border: 1px black dashed;
    border-radius: 15px;
}

#start{
    width: 100%;
    height: 42vh;
    margin: auto;
    padding-top: 18vh;
    font-size: 3vh;
    border: 1px solid black;
    border-radius: 15px;
    background-color: cadetblue;
    position: absolute;
    top: 0;
}

#wrong{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#wrong div{
    width: 3vw;
    height: 3vh;
    margin: 1vh auto 1vh auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

#restart, #valider{
    width: 25%;
    height: 4vh;
    margin: 2vh auto 2vh auto;
    background-color: white;
    border: 1px black solid;
    border-radius: 15px;
}

