* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
}

#container{
    width: 80%;
    margin: 10vh auto 0 auto;
    background-color: cadetblue;
    padding: 1vh 1vw 1vh 1vw;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 1.5vw;
    text-align: center;
}

#quest div{
    margin-top: 2vh;
}

#try{
    margin: 2vh 1vw 2vh 1vw;
}

#testAnswer, #result{
    width: 30%;
    margin: 2vh auto 2vh auto;
    height: 5vh;
    background-color: white;
    border: 1px black dashed;
    border-radius: 15px;
    visibility: hidden;
}

#wrong{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#wrong div{
    width: 3vw;
    height: 3vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

#restart{
    width: 10%;
    height: 5vh;
    margin: 2vh auto 2vh auto;
    padding-top: 1vh;
    background-color: white;
    border: 1px black solid;
    border-radius: 15px;
}

